:root {
  --bronze: #ad5600;
  --silver: #435f7a;
  --gold: #ec9a00;
  --platinum: #27e2a4;
  --diamond: #00b4fc;
  --ruby: #ff0062;
}

blockquote a.boj-link {
  display: block;
  width: fit-content !important;
  table.boj {
    width: fit-content;
  }
  box-shadow: none;

  &:hover {
    td.boj-name {
      text-decoration: underline;
    }
  }
}

table.boj {
  td.boj-name {
    min-width: fit-content !important;
    border: none !important;
  }

  td.tier:has(img[alt='tier']) {
    min-width: 1.5rem;
    border: none;
  }
}

img[alt='tier'] {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.1rem 0 0 0;
  vertical-align: middle;
}

h1.entry-hint-parent {
  display: block;
}

div.ps {
  display: flex;
  justify-content: space-between;
}

div.mazandi {
  margin: 0;
  padding: 0;
  display: flex;
}

img[alt='solvedac'] {
  width: 100%;
  aspect-ratio: 350 / 170;
}

div.mazandi img {
  width: 100%;
  aspect-ratio: 350 / 170;
}

body.dark {
  img[alt='ps_solved'].dark {
    display: inline-block;
  }
  img[alt='ps_solved'].light {
    display: none;
  }
}

img[alt='ps_solved'].dark {
  display: none;
}
img[alt='ps_solved'].light {
  display: inline-block;
}

/*  */

.carousel {
  /* overflow-x: auto; */
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;

  columns: 1;
  block-size: var(--carousel-height);
  text-align: center;
  aspect-ratio: 350 / 170;

  &::column {
    scroll-snap-align: center;
  }
}

.skeleton {
  height: 100%;
  display: grid;
  place-items: center;
}
